#content {
	margin-left:auto;
	margin-right:auto;
	width: 960px;
	height: 100%;
}

/**********************************************************************
 * FUENTES
 **********************************************************************/
.fuenteTitulo {
	text-decoration: none;
	font-family: "Eras Demi ITC";
	font-size: medium;
}

.fuenteSubtitulo {
	text-decoration: none;
	font-family: "Eras Demi ITC";
	font-size: small;	
}

.fuenteTexto {
	text-decoration: none;
	font-family: serif;
	font-size: medium;	
}

.fuenteDescripcion {
	font-family: "Eras Medium ITC";
	font-size: 14px;	
	/*line-height: 0px;*/
}

/**********************************************************************
 * CABECERA
 **********************************************************************/
.cabecera {	
	position: relative;
    float: left; 
    width: 200%;	
    height: 60px;
}

#usuario {
    float: left; 
    width: 300px;
    margin: 0px auto;	
}

#logo {
	position: relative;
    float: left; 
    width: 200px;	
    height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/logotipo.png'); 	
    margin: 0px auto;	
    
	/*background-color:#cccccc;*/
}

div#info {
	margin-top: 2%;
}

#logo:hover {
	cursor: pointer;	
}

#bus-avanzada {
	position: relative;
    float: left; 
    width: 40%;
    margin: 0px auto;		
}

select#category {
	display: block;
	float: left;
	width: 20%;
	height: 150%;
	margin-top: 3px;
	margin-right: 3%;
}

input#keywords {
	float: left;
}
/**********************************************************************
 * CUERPO { categorias + contenido + cesta }
 **********************************************************************/
.cuerpo {
	margin-top: 20px;	
}

/**********************************************************************
 * INFO PRODUCTO
 **********************************************************************/

.infoProducto{
	
}

.infoProducto#caratula{
	width: 320px;
	height: 320px;
	position: relative;
	float: left;
}

.infoProducto#informacionDisco{
	width: 200px;
	height: 400px;
	float: left;
	position: relative;
}


/**********************************************************************
 * CATEGORIAS
 **********************************************************************/

.categorias {
	position:relative;
    float: left; 
	width:140px;
	padding-top:10px;
	padding-left:0px; 
	padding-right:0px; 
	margin:0px;	
	z-index: 1;
}

span#flecha {
	right: 5px;
	padding-right: 6px;
	/*ponerlo alineado a la derecha¿?*/
	text-align:right;
}
		
ul.categorias {
	position:relative;
	float:inherit;
	list-style:none; /*quita los puntos*/
}

ul.categorias li {
	position:relative; /* Las coordenadas de los ul inferiores serán relativas al <li> que los contiene */
	float:inherit;
   	width:120px;
   	background-color:#FFFFFF;
   	/*border:1px solid;*/
  	padding:7px;
  	padding-left:30px;
  	padding-right: 0px;
}	

ul.categorias ul { /* Para todos los ul debajo del ul.menu */
	position:relative; /* Esta posición es relativa al <li> que contiene a este <ul> */
	left:-20px; /* Para que no monte sobre el <li> */
	top:-1px;/*para que salga a la misma altura que el menu padre*/
	display:none;
	list-style:none;
	background-color:#FFFFFF;
	padding-left: 1px;/*margen de los hijos*/
	border-left:0;
	width: 100px;
}

/* Esto afecta a todos los ul inmediatamente debajo (el > ) de un li que a su vez esté dentro de un ul.menu */
ul.categorias li:hover > ul {
   display:block;
   /*display:inline;*/
}


/**********************************************************************
 * CONTENIDO
 **********************************************************************/

.contenido {
	position: relative;
    float: left; 
	width: 600px;	
	padding-left: 20px;
	padding-right: 20px;
}

.contenido#tablaDestacados {
	position: relative;
	float: none;
	width: inherit;
	margin: 0px auto;		
}


/**********************************************************************
 * CESTA
 **********************************************************************/

.cesta {	
	position:relative;
    float: left; 
	width:150px;
	padding:5px;
	padding-top: 0px;
	/*border: 1px solid;*/
}
#cesta{
	height: 50px;
}

iframe#ultimo{
	width:145px;
}
button.cesta{
	text-align: center;
	width: 120px;
}

/**********************************************************************
 * VER CESTA
 **********************************************************************/
div#listaCompra{
	width: inherit;
	border: 0px;
	position: relative;
	float: left;
}


/**********************************************************************
 * TRAMITE
 **********************************************************************/
div.pestania{
	/*margin-top: 20px;*/
	width: inherit;
	border: 1px solid;
	position: relative;
	float: left;
}

div.pestania label { /* la parte superior con el título de la pestaña */
	background-color: #456;
	border-radius: 5px 5px 0 0;/*redondea los label*/
	left: 0;
	margin-right: 1px;
	padding: 5px 5px;
	margin: 3px;
	position: relative;
	float: left;
}

div.pestania [type=radio] { 
	display: none; 
}

/* el contenido de las pestañas */
div.contenidoTab {
	bottom: 0;
	left: 0;
	/*overflow:hidden;*/
	/*display: none;*/
	/*padding: 20px;
	position: absolute;
	float: left;*/
	right: 0;
	top: 23px;
}

/* controlamos la pestaña activa */
[type=radio]:checked  label {
	background-color: #678;
	color: #FFF;
	z-index: 2;
	display: block;
}

[type=radio]:checked  label  .contenidoTab { 
	z-index: 1;
	display: block;
	overflow: visible;
}

[type=radio]:checked  label  .contenidoTab > * {
	opacity: 1;
}
/***************************************************************************/












